{% extends 'base.html' %}
{% load static %}
{% block title %}Tool Details{% endblock %}
{% block content %}


  <style>
      body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
          font-family: Arial, sans-serif;
          background-color: #f9f6f4;
          color: #333;
      }
      .error-code {
          font-size: 96px;
          color: #ff6f61;
          margin: 0;
      }
      .error-message {
          font-size: 24px;
          margin: 10px 0;
      }
      .back-button {
          padding: 10px 20px;
          font-size: 16px;
          color: white;
          background-color: #333;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          text-decoration: none;
      }
      .back-button:hover {
          background-color: #555;
      }
  </style>
<body>
  <h1 class="error-code">404</h1>
  <p class="error-message">Oh dear, this page has gone missing.</p>
  <a href="/" class="back-button">Back to home</a>
</body>

{% endblock %}