{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}Default Title{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'img/favicon.png' %}" rel="icon">

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<style>
    .dropdown-content {
        display: none;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<body class="index-page">

<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
    <a href="/" class="logo d-flex align-items-center me-auto">
      <img src="{% static 'img/logo.png' %}" alt="">
      <h1 class="sitename">FlexStart</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'categories' %}">Categories</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    {% if user.is_authenticated %}
        <div class="w-80">
      <div class="relative">
          <div id="profile" class="flex items-center cursor-pointer p-4 rounded-lg dropdown">
              <div class="bg-blue-500 text-white rounded-full h-10 w-10 flex items-center justify-center text-lg font-semibold mr-3">T</div>
              <div>
                  <p class="text-sm font-semibold">Test User</p>
                  <p class="text-sm text-gray-500">My Workspace</p>
              </div>
              <svg class="w-4 h-4 ml-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
          </div>
          <div id="dropdownContent" class="dropdown-content absolute right-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">My Profile</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-md">Write a blog</a>
              <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-red-500 hover:bg-red-100 rounded-md">Sign out</a>
          </div>
      </div>
  </div>
    {% else %}
    <a class="btn-getstarted flex-md-shrink-0" href="{% url 'signup' %}">Get Started</a>
    {% endif %}
  </div>
</header>


  <main class="main">
  {% block content %}{% endblock %}
  </main>


<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="/" class="d-flex align-items-center">
          <br><br><br><br><br>
          <span class="sitename">FlexStart</span>
        </a>

      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Company</h4>
        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
        <br>
        <li><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
      </div>

      <div class="col-lg-4 col-md-12">
        <h4>Follow Me</h4>
        <p>Stay Connected With Me On Social Media For The Latest Updates, News, And Insights.</p>
        <br>
        <div class="social-links d-flex">
          <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="" target="_blank"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>
<a class="scroll-top d-flex align-items-center justify-content-center"></a>
<div id="preloader"></div>


<script>
    document.getElementById("profile").addEventListener("click", function() {
        var dropdown = document.getElementById("dropdownContent");
        if (dropdown.style.display === "none" || dropdown.style.display === "") {
            dropdown.style.display = "block";
        } else {
            dropdown.style.display = "none";
        }
    });
</script>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
