{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Create Account{% endblock %}
{% block content %}

<section id="hero" class="hero section">
<div class="container">
  <div class="row gy-4 justify-content-center">
    <div class="col-lg-8 text-center">
      <h1 data-aos="fade-up">Explore all the AI tools essential for your category here</h1>
      <p data-aos="fade-up" data-aos-delay="100">We are a team of talented designers making websites with Bootstrap</p>
      <form method="POST">
          {% csrf_token %}
          <div class="d-flex justify-content-center mt-3" data-aos="fade-up" data-aos-delay="200">
            <input class="form-control me-2" name="prompt" placeholder="Enter Your Prompt..">
            <button type="submit" class="btn-get-started">Search <i class="bi bi-arrow-right"></i></button>
          </div>
      </form>
    </div>
  </div>
</div>
</section>

<div class="category-buttons-container">
    <div class="flex items-center space-x-4">
        <span class="font-semibold">Category:</span>
        {% for category in categories %}
            <button onclick="filterCategory({{ forloop.counter0 }}, {{ category_count }})" class="px-4 py-2 rounded-full border text-sm {% if selected_category == category %}bg-blue-100 border-green-300 text-blue-700{% else %}bg-white border-gray-300 hover:bg-gray-100 text-gray-700{% endif %} focus:outline-none">
                {{ category.title }}
            </button>
        {% endfor %}
    </div>
</div>

<section id="about" class="about section">
    <div class="container splide" style="display: block;" id="search_results">
        <div class="splide__track">
            <ul class="splide__list" id="search_results_list">
                <!-- Search results will be dynamically inserted here -->
            </ul>
        </div>
    </div>

    {% for category in categories %}
    <div class="container splide" {% if forloop.counter0 == 0 %} style="display: block;" {% else %}  style="display: none;" {% endif %} id="category_{{ forloop.counter0 }}" data-aos="fade-up">
        <div class="splide__track">
            <ul class="splide__list">
                {% for ai_tool in category.toolcategory.all %}
                    <li class="splide__slide">
                        <div class="content text-center py-3 d-flex flex-column h-100">
                            <div class="testimonial-item">
                                <div class="stars mb-2">
                                    {% for i in 5|get_range %}
                                        <i class="bi {{ ai_tool.avg_rating|star_status:i }} text-warning"></i>
                                    {% endfor %} ({{ ai_tool.total_votes }})
                                </div>
                            </div>

                            <a href="{% url 'tool_details' ai_tool.ai_tool %}"><img src="{% static ai_tool.logo %}" class="img-fluid mb-2" alt="" loading="lazy"></a>
                            <h3>{{ ai_tool.category }}</h3>
                            <a href="{% url 'tool_details' ai_tool.ai_tool %}"><h2>{{ ai_tool.ai_tool }}</h2></a>
                            <p>{{ ai_tool.description }}</p>
                            <div class="mt-auto">
                                <a href="{{ ai_tool.website_url }}" target="_blank" class="btn-read-more d-inline-flex align-items-center justify-content-center">
                                    <span>Visit Site</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</section>

<div class="bg-gradient-to-r from-gray-100 to-gray-50 text-gray-900">
    <div class="container mx-auto px-6 py-16">
        <div class="flex justify-center space-x-4 mb-10">
            {% for key in multi_promotion %}
                <a id="{{ key }}-btn" class="px-4 py-2 rounded-lg {% if key == 'Coding' %}bg-indigo-900 text-white{% else %}bg-white text-gray-800{% endif %} cursor-pointer" onclick="showPromotion('{{ key }}')">{{ key }}</a>
            {% endfor %}
        </div>

        <div class="flex flex-col lg:flex-row items-center lg:justify-between">
            <div class="lg:w-2/3 mb-10 lg:mb-0">
                <h1 id="promo-title" class="text-4xl md:text-5xl font-bold mb-6">{{ multi_promotion.Coding.title }}</h1>
                <p id="promo-description" class="text-lg text-gray-700 mb-8">
                    {{ multi_promotion.Coding.description }}
                </p>
            <a href="{{ multi_promotion.Coding.website_url }}" target="_blank" class="inline-block px-8 py-2 bg-blue-500 text-white text-lg font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-blue-400">Try it out</a>
            </div>
            <div class="md:w-full mt-10 md:mt-0">
                <div class="relative p-6 rounded-xl">
                    <img id="promo-img" src="{% static multi_promotion.Coding.img_url %}" alt="Coding Tool" class="rounded-xl w-full h-auto object-cover" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-gray-50 flex items-center justify-center h-screen">
    <div class="max-w-6xl flex items-start justify-center space-x-12">
        <div class="w-6/12">
            <div class="aspect-w-16 aspect-h-9">
                <video id="effortless-website-builder" width="100%" height="auto" autoplay loop muted playsinline>
                    <source src="https://res2.weblium.site/file/weblium-video/65852a3f77c5d5000e9b995e" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="w-6/12 p-6 bg-blue-100 rounded-3xl">
            <h1 class="text-3xl font-bold text-gray-700 mb-6">Are you ready to go beyond a template?</h1>
            <p class="text-xl text-gray-600 mb-8">Flex block gives you a chance to bring your wildest ideas to life.</p>
            <div class="space-y-8 mb-8">
                <div class="flex items-start space-x-4">
                    <div>
                        <h2 class="text-xl font-semibold text-gray-700">Freedom to realize your ideas</h2>
                        <p class="text-lg text-gray-600">Seamlessly move and modify elements without restrictions.</p>
                    </div>
                </div>
                <div class="flex items-start space-x-4">
                    <div>
                        <h2 class="text-xl font-semibold text-gray-700">Ultimate adaptability</h2>
                        <p class="text-lg text-gray-600">Choose a ready-made block to showcase your product and customize its layout and button design.</p>
                    </div>
                </div>
            </div>
            <a href="#" class="inline-block px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">Try it out</a>
        </div>
    </div>
</div>


<div class="container mx-auto py-12 px-4">
    <h2 class="text-center text-3xl font-bold mb-10">More tools from Adobe Podcast</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
            <div class="relative h-80">
                <img src="{% static card.card1.image %}" alt="Mic Check" class="absolute inset-0 h-full w-full object-cover rounded-3xl" loading="lazy">
            </div>
            <div class="p-6 text-center">
                <div class="flex items-center justify-center">
                    <h3 class="text-2xl font-bold">{{ card.card1.tool_name }}</h3>
                    <span class="ml-2 bg-gray-200 text-gray-800 font-bold text-xs px-2 py-1 rounded-full">{{ card.card1.badge }}</span>
                </div>
                <p class="text-gray-600 font-semibold md-2">{{ card.card1.content }}</p>
                <a href="{{ card.card1.website_url }}" class="mt-4 inline-block px-7 font-semibold py-3 bg-black text-white rounded-full">Visit Site</a>
            </div>
        </div>

        <div>
            <div class="relative h-80">
                <img src="{% static card.card2.image %}" alt="Studio" class="absolute inset-0 h-full w-full object-cover rounded-t-lg" loading="lazy">
            </div>
            <div class="p-6 text-center">
                <div class="flex items-center justify-center">
                    <h3 class="text-2xl font-bold">{{ card.card2.tool_name }}</h3>
                    <span class="ml-2 bg-gray-200 text-gray-800 font-bold text-xs px-2 py-1 rounded-full">{{ card.card2.badge }}</span>
                </div>
                <p class="text-gray-600 font-semibold md-2">{{ card.card2.content }}</p>
                <a href="{{ card.card2.website_url }}" class="mt-4 inline-block px-7 font-semibold py-3 bg-black text-white rounded-full">Visit Site</a>
            </div>
        </div>
    </div>
</div>

<div class="text-gray-900">
    <section class="container mx-auto px-6 py-16 flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 max-w-lg md:pr-8">
            <h1 class="text-4xl md:text-5xl font-bold leading-tight mb-6">
                Making content universally accessible
            </h1>
            <p class="text-lg text-gray-700 mb-8">
                From Text to Speech to AI dubbing, our tools bridge language gaps, restore voices to those who have lost them, and make digital interactions feel more human, transforming the way we connect online.
            </p>
            <button class="flex items-center bg-indigo-600 text-white font-semibold py-3 px-6 rounded-lg hover:bg-indigo-700 focus:outline-none">
                Checkout the Website
            </button>
        </div>
        <div class="md:w-1/2 mt-10 md:mt-0 ml-40">
            <div class="relative p-6 rounded-xl">
                <img src="{% static 'img/midjourney.png' %}" alt="Dubbing Studio" class="rounded-xl w-full h-auto object-cover" loading="lazy">
            </div>
        </div>
    </section>
</div>


<div class="bg-gray-50 font-sans">
    <div class="max-w-4xl mx-auto py-16 px-4">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold text-black">Testimonials</h2>
            <p class="text-3xl font-bold text-gray-600 mt-2">See what our users have to say about us</p>
            <div class="flex justify-center items-center mt-4 space-x-2">
                <span class="bg-red-100 font-semibold text-red-600 text-sm py-1 px-2 rounded-full">Loved by Top CEOs</span>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            {% for key, person in testimonial.items %}
            <div class="{% if forloop.counter|divisibleby:2 %}bg-red-500{% else %}bg-black{% endif %} text-white p-6 rounded-lg shadow-md">
                <div class="mb-4">
                    <span class="{% if forloop.counter == 2 %}bg-black text-white{% else %}bg-white text-black{% endif %} text-xs font-semibold px-2 py-1 rounded-full">{{ person.field }}</span>
                </div>
                <p class="text-lg leading-relaxed">{{ person.testimonial }}</p>
                <div class="mt-6 flex items-center">
                    <img src="{% static person.person_image %}" alt="{{ person.name }}" class="w-10 h-10 rounded-full mr-3" loading="lazy">
                    <div>
                        <p class="text-sm font-semibold">{{ person.name }}</p>
                        <p class="text-xs text-gray-400">{{ person.designation }}</p>
                    </div>
                    <div class="ml-auto">
                        <img src="{% static person.company_logo %}" alt="{{ person.name }}'s company logo" class="w-10 h-10" loading="lazy">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script>
    var slides = {};
    const promotions = {{ multi_promotion|safe }};
    let currentButton = document.getElementById("Coding-btn"); 

    function showPromotion(key) {
        const promo = promotions[key];
        document.getElementById("promo-title").textContent = promo.title;
        document.getElementById("promo-description").textContent = promo.description;
        document.getElementById("promo-img").src = "{% static '' %}" + promo.img_url;

        if (currentButton) {
            currentButton.classList.remove("bg-indigo-900", "text-white");
            currentButton.classList.add("bg-white", "text-gray-800");
        }

        currentButton = document.getElementById(key + "-btn");
        currentButton.classList.remove("bg-white", "text-gray-800");
        currentButton.classList.add("bg-indigo-900", "text-white");
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        showPromotion('Coding');
    });

    Splide.defaults = {
        autoplay: true,
        perMove: 1,
        interval: 2000,
        arrows: true,
        drag: 'free',
        gap: '10px',
        pagination: true,
        height: '100px',
        fixedHeight: '495px',
        perPage: 4,
    };

    function manageSplideInstances(category, count) {
        for (let i = 0; i < count; i++) {
            var elem = document.getElementById("category_" + i);

            if (i === category) {
                elem.style.display = "block";
                if (!slides["category_" + i]) {
                    slides["category_" + i] = new Splide("#category_" + i).mount();
                } else {
                    slides["category_" + i].mount();
                }
            } else {
                if (slides["category_" + i]) {
                    slides["category_" + i].destroy(true);
                    slides["category_" + i] = null;
                }
                elem.style.display = "none";
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        {% if ai_tools %}
            new Splide("#search_results").mount();
        {% else %}
            manageSplideInstances(0, {{ categories|length }});
        {% endif %}
    });

    function filterCategory(category, count) {
        manageSplideInstances(category, count);
    }

    let currentActiveButton = null;

    document.addEventListener('DOMContentLoaded', function() {
    currentActiveButton = document.querySelector('.category-buttons-container button');
    if (currentActiveButton) {
        currentActiveButton.classList.remove("bg-white", "border-gray-300", "hover:bg-gray-100", "text-gray-700");
        currentActiveButton.classList.add("bg-blue-100", "border-green-300", "text-blue-700");
    }
    manageSplideInstances(0, {{ categories|length }});
});

    function filterCategory(category, count) {
    if (currentActiveButton) {
        currentActiveButton.classList.remove("bg-blue-100", "border-green-300", "text-blue-700");
        currentActiveButton.classList.add("bg-white", "border-gray-300", "hover:bg-gray-100", "text-gray-700");
    }

    currentActiveButton = event.currentTarget;
    currentActiveButton.classList.remove("bg-white", "border-gray-300", "hover:bg-gray-100", "text-gray-700");
    currentActiveButton.classList.add("bg-blue-100", "border-green-300", "text-blue-700");

    manageSplideInstances(category, count);
}
</script>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchForm = document.querySelector('form');
    const searchResultsList = document.getElementById('search_results_list');
    const searchResultsContainer = document.getElementById('search_results');
    const categoryContainers = document.querySelectorAll('[id^="category_"]');

    function displaySearchResults(tools) {
        searchResultsList.innerHTML = '';
        tools.forEach(tool => {
            const toolHtml = `
                <li class="splide__slide">
                    <div class="content text-center py-3 d-flex flex-column h-100">
                        <div class="testimonial-item">
                            <div class="stars mb-2">
                                ${generateStars(tool.avg_rating)} (${tool.total_votes})
                            </div>
                        </div>
                        <a href="/tool/${tool.name}"><img src="/static/${tool.logo}" class="img-fluid mb-2" alt="" loading="lazy"></a>
                        <h3>${tool.category}</h3>
                        <a href="/tool/${tool.name}"><h2>${tool.name}</h2></a>
                        <p>${tool.description}</p>
                        <div class="mt-auto">
                            <a href="${tool.website_url}" target="_blank" class="btn-read-more d-inline-flex align-items-center justify-content-center">
                                <span>Visit Site</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </li>
            `;
            searchResultsList.innerHTML += toolHtml;
        });

        searchResultsContainer.style.display = 'block';
        categoryContainers.forEach(container => {
            container.style.display = 'none';
        });

        // Reinitialize Splide for search results
        new Splide("#search_results").mount();

        // Scroll to the search results
        scrollToSearchResults();
    }

    function scrollToSearchResults() {
        const searchResultsContainer = document.getElementById('search_results');
        if (searchResultsContainer) {
            const headerHeight = document.querySelector('#header').offsetHeight;
            const offset = headerHeight + 120; // Add extra 20px for spacing
            const elementPosition = searchResultsContainer.getBoundingClientRect().top + window.pageYOffset;
            const offsetPosition = elementPosition - offset;

            window.scrollTo({
                top: offsetPosition,
                behavior: 'smooth'
            });
        }
    }

    // Check if there are stored search results and display them
    const storedResults = {{ ai_tools|default:'null'|safe }};
    if (storedResults) {
        displaySearchResults(storedResults);
    }

    searchForm.addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(this);

        fetch('/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            displaySearchResults(data.tools);
        });
    });

    function generateStars(rating) {
        let stars = '';
        for (let i = 1; i <= 5; i++) {
            stars += `<i class="bi bi-star${i <= rating ? '-fill' : ''} text-warning"></i>`;
        }
        return stars;
    }
});
</script>


{% endblock %}